<template>
<div class="container">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Galleries <small>by {{author.first_name}} {{author.last_name}}</small></h1>
  </div>
  <filter-galleries @search-galleries="searchNow"></filter-galleries>
  <div class="row">
  <list-galleries v-if="author.galleries.length > 0" v-for="(gallery, key) in author.galleries" :key="key" :gallery="gallery"></list-galleries>
  <div v-else>
    There are no galleries yet!
    </div>
    
  </div>
</div>
</template>

<script>
//import { galleryService } from "./../services/GalleryService";

import ListGalleries from "./../components/ListGalleries.vue";
import FilterGalleries from "./../components/FilterGalleries.vue";
//import ShowGallery from "./ShowGallery.vue";

import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
  name: "AuthorGalleries",
  components: {
    ListGalleries,
    FilterGalleries
  },
  data() {
    return {
      //galleries: []
    };
  },
  computed: {
    ...mapGetters({
      author: "getGalleries",
      loggedUserId: "getLoggedUserId"
    })
  },
  methods: {
    ...mapMutations(["setSearchTerm", "setPurposeTerm", "setUserId"]),
    ...mapActions(["fetchAuthorGalleries"]),
    searchNow(term) {
      this.setSearchTerm(term);
      this.fetchAuthorGalleries();
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (to.name === "author-galleries") {
        //console.log(this.$route.params.id);
        vm.setUserId(to.params.id);
      } else {
        vm.setUserId(window.localStorage.getItem("loggedUserId"));
      }
      vm.setSearchTerm("");
      vm.fetchAuthorGalleries();
    });
  }
};
</script>