<template>
<div class="container">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Create New Gallery</h1>
  </div>
  <form @submit.prevent="addGallery">
    <div class="form-group">
      <label for="title">Title</label>
      <input v-model="gallery.title" v-validate="'required|min:2|max:255'" type="text" id="title" class="form-control" name="title" placeholder="Title" />
      <span>{{ errors.first('title') }}</span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea v-model="gallery.description" v-validate="'max:1000'" id="description" class="form-control" name="description" placeholder="Description"></textarea>
      <span>{{ errors.first('description') }}</span>
    </div>
    <div v-for="(row, key) in gallery.images" :key="key" class="form-group">
      <label for="image">Image url</label>
      <div class="input-group mb-3">
      <input v-model="row.image" v-validate="{required: true, regex:/\.(jpg|jpeg|png)$/}" type="text" id="image" class="form-control" :name="'image-'+key" placeholder="Image url" />
      <div v-if="gallery.images.length !== 1" class="input-group-prepend">
      <button @click.prevent="deleteRow(key)" class="btn btn-danger">X</button>
      <button @click.prevent="moveUp(key)">&uarr;</button>
      <button @click.prevent="moveDown(key)">&darr;</button>
      </div>
      </div>
      <span>{{ errors.first('image-'+key)}}</span>
    </div>
    <div class="form-group">
    <button @click.prevent="addRowImage" class="btn btn-outline-secondary">Add another url</button>
    </div>
    <div class="form-group">
      <router-link v-if="$route.path === '/create'" :to="{name: 'my-galleries'}" class="btn btn-danger mr-2">Cancel</router-link>
      <router-link v-else :to="{name: 'show-gallery', params:{id:gallery.id}}" class="btn btn-danger mr-2">Cancel</router-link>
    <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</div>
</template>

<script>
import { galleryService } from "./../services/GalleryService";

export default {
  name: "CreateGallery",
  components: {},
  data() {
    return {
      gallery: {
        title: "",
        description: "",
        images: [{ image: "" }]
      }
    };
  },
  methods: {
    addRowImage() {
      this.gallery.images.push({
        image: ""
      });
    },
    deleteRow(row) {
      this.gallery.images.splice(row, 1);
    },
    moveUp(row) {
      let cutOut = this.gallery.images.splice(row, 1);
      this.gallery.images.splice(row - 1, 0, cutOut[0]);
    },
    moveDown(row) {
      let cutOut = this.gallery.images.splice(row, 1);
      this.gallery.images.splice(row + 1, 0, cutOut[0]);
    },
    addGallery() {
      if (!this.gallery.id) {
        this.$validator.validateAll().then(result => {
          if (result) {
            galleryService.add(this.gallery).then(() => {
              this.$router.push({ name: "my-galleries" });
            });
          }
        });
      } else {
        this.$validator.validateAll().then(result => {
          if (result) {
            galleryService.update(this.gallery).then(() => {
              this.$router.push({
                name: "show-gallery",
                params: { id: this.gallery.id }
              });
            });
          }
        });
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    if (to.params.id) {
      galleryService.show(to.params.id).then(response => {
        next(vm => {
          vm.gallery = response.data;
        });
      });
    } else {
      next();
    }
  }
};
</script>