<template>
<div class="container">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Galleries</h1>
  </div>
  <filter-galleries @search-galleries="searchNow"></filter-galleries>
  <div class="row">
    <div v-if="galleries.length > 0">
    <list-galleries v-for="(gallery, key) in galleries" :key="key" :gallery="gallery"></list-galleries>
    </div>
    <div v-else>
      <div class="alert alert-info col-12">There are no galleries yet. Be first!</div>
    </div>    
  </div>
</div>
</template>

<script>
import { galleryService } from "./../services/GalleryService";

import ListGalleries from "./../components/ListGalleries.vue";
import FilterGalleries from "./../components/FilterGalleries.vue";
import ShowGallery from "./ShowGallery.vue";

import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
  name: "IndexGalleries",
  components: {
    ListGalleries,
    FilterGalleries
  },
  data() {
    return {
      //galleries: []
    };
  },
  computed: {
    ...mapGetters({
      galleries: "getGalleries"
    })
  },
  methods: {
    ...mapMutations(["setSearchTerm"]),
    ...mapActions(["fetchGalleries"]),
    searchNow(term) {
      this.setSearchTerm(term);
      this.fetchGalleries();
    }
  },
  created() {
    this.setSearchTerm("");
    this.fetchGalleries();
  }
  /*beforeRouteEnter(to, from, next) {
    galleryService.getAll().then(response => {
      console.log(response.data);
      next(vm => {
        vm.galleries = response.data;
      });
    });
  }*/
};
</script>