<template>
<div class="container">
<h1>Login</h1>
<form class="form-signin" @submit.prevent="login">
  <div class="form-group">
<input v-model="email" type="email" class="form-control" placeholder="Email" required autofocus />
</div>
<div class="form-group">
<input v-model="password" type="password" class="form-control" placeholder="Password" required />
<div v-if="errorsLaravel" class="alert alert-danger">
{{errorsLaravel}}
</div>
</div>
<div class="form-group">
<button class="btn btn-lg btn-primary btn-block">Login</button>
</div>
    </form>
</div>
</template>

<script>
import { authService } from "./../services/AuthService";
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      email: "",
      password: "",
      errorsLaravel: ""
    };
  },
  methods: {
    ...mapMutations(["setIsAuthenticated", "setLoggedUserId"]),
    login() {
      authService
        .login(this.email, this.password)
        .then(response => {
          this.$router.push({ name: "all-galleries" });
          this.setIsAuthenticated(true);
        })
        .catch(error => {
          this.errorsLaravel = error.response.data.error;
        });
    }
  }
};
</script>