<template>
<div class="container">
<h1>Register</h1>
<form @submit.prevent="register" class="form-signin" novalidate>
    <div class="form-group">
        <input v-model="user.first_name" v-validate="'required'" type="text" class="form-control" name="first_name" placeholder="First name" autofocus />
        <span>{{ errors.first('first_name') }}</span>
    </div>
    <div class="form-group">
        <input v-model="user.last_name" v-validate="'required'" type="text" class="form-control" placeholder="Last name" name="last_name"  />
        <span>{{ errors.first('last_name') }}</span>
    </div>
    <div class="form-group">
        <input v-model="user.email" v-validate="'required|email'" type="email" class="form-control" name="email" placeholder="Email" />
        <span>{{ errors.first('email') }}</span>
    </div>
    <div class="form-group">
        <input v-model="user.password" v-validate="{required: true, min:8, regex:/^(?=.*[A-z])(?=.*[0-9])\S{8,}$/}" type="password" class="form-control" name="password" placeholder="Password (At least 8 characters, min 1 digit)" />
        <span>{{ errors.first('password') }}</span>
    </div>
    <div class="form-group">
        <input v-model="user.password_confirmation" v-validate="{required:true, is:user.password}" type="password" class="form-control" name="password_confirmation" placeholder="Re-password" />
        <span>{{ errors.first('password_confirmation') }}</span>
    </div>
    <div class="form-group">
      <input type="checkbox" v-validate="'required'" name="terms_and_conditions" id="terms_and_conditions" class="mr-1" />
      <label for="terms_and_conditions">Accepted terms and conditions</label>   
      <span>{{ errors.first('terms_and_conditions') }}</span>   
    </div>
    <div v-if="errorsLaravel" class="alert alert-danger">{{ errorsLaravel }}</div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Register</button>
    </div>
</form>
</div>
</template>

<script>
import { authService } from "./../services/AuthService";
import { mapMutations } from "vuex";
export default {
  name: "Register",
  data() {
    return {
      user: {
        first_name: "",
        last_name: "",
        email: "",
        password: "",
        password_confirmation: ""
      },
      errorsLaravel: ""
    };
  },
  methods: {
    ...mapMutations(["setIsAuthenticated", "setLoggedUserId"]),
    register() {
      this.$validator.validateAll().then(result => {
        if (result) {
          console.log(result);
          authService
            .register(this.user)
            .then(response => {
              this.setIsAuthenticated(true);
              this.$router.push({ name: "all-galleries" });
            })
            .catch(error => {
              this.errorsLaravel = error.response.data.error.message;
            });
        }
      });
    }
  }
};
</script>

<style>
form span {
  font-size: 12px;
  color: #f00;
  display: block;
}
</style>