<template>
<div class="container">
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>{{gallery.title}}</h1>
    <div class="row">
    <div class="col-9">    
    <small>Created: {{gallery.created_at}} </small>
    <small>Author: <router-link :to="{name: 'author-galleries', params: {id:gallery.user.id}}">{{gallery.user.first_name}} {{gallery.user.last_name}}</router-link></small>
    </div>
    <div v-if="loggedUserId == gallery.user.id" class="col-3 ">
    <button @click.prevent="deleteGallery" class="btn btn-danger ml-2 float-right">Delete</button>
    <router-link :to="{name: 'edit-gallery', params: {id:gallery.id}}" class="btn btn-outline-dark float-right">Edit</router-link>
    </div>
    </div>
  </div>
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <p>{{gallery.description}}</p>
  </div>
  <!--Carousel-->
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <b-carousel id="carousel1"
                style="text-shadow: 1px 1px 2px #333;"
                controls
                indicators
                background="#ababab"
                :interval="4000"
                img-width="1024"
                img-height="480"
                v-model="slide"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
      >
        <a v-for="(image, key) in gallery.images" :key="key" :href="image.image" target="_blank">
          <b-carousel-slide :img-src="image.image" :src="image.image"></b-carousel-slide>
        </a>
      </b-carousel>
  </div>
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h3>Comments</h3>
    <ul v-if="gallery.comments.length !== 0" class="list-unstyled">
      <li v-for="(comment, key) in gallery.comments" :key="key" class="media mb-4">
        <div class="col-11">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">{{comment.user.first_name}} {{comment.user.last_name}} <small>({{comment.created_at}})</small></h5>          
          {{comment.text}}
        </div>
        </div>
        <div class="col-1">
          <button @click.prevent="deleteComment(comment.id)" v-if="loggedUserId == comment.user.id" class="btn btn-danger">Delete</button>
        </div>
      </li>
    </ul>
    <div v-else class="alert alert-info">
      There are no comments yet. Be first!
    </div>
    <div v-if="isAuth">
    <h4>Add comment</h4>
    <form @submit.prevent="AddComment">
      <div class="form-group">
      <textarea v-model="newComment.text" v-validate="'required|max:1000'" name="comment" class="form-control"></textarea>
      <span>{{ errors.first('comment') }}</span>
      </div>
      <button class="btn btn-primary">Add</button>
    </form>
    </div>
  </div>
</div>
</template>

<script>
import { galleryService } from "./../services/GalleryService";
import { commentService } from "./../services/CommentService";

import { mapGetters } from "vuex";

export default {
  name: "ShowGallery",
  components: {},
  data() {
    return {
      gallery: { user: {}, comments: [] },
      slide: 0,
      sliding: null,
      owner: false,
      loggedUserId: window.localStorage.getItem("loggedUserId"),
      newComment: {
        text: "",
        gallery_id: this.$route.params.id,
        user_id: window.localStorage.getItem("loggedUserId")
      }
    };
  },
  methods: {
    onSlideStart() {
      this.sliding = true;
    },
    onSlideEnd() {
      this.sliding = false;
    },
    AddComment() {
      this.$validator.validateAll().then(result => {
        if (result) {
          commentService.add(this.newComment).then(() => {
            galleryService.show(this.$route.params.id).then(response => {
              this.gallery = response.data;
            });
            this.newComment.text = "";
          });
        }
      });
    },
    deleteComment(commentId) {
      if (confirm("Do you really want to delete comment?")) {
        commentService.delete(commentId).then(() => {
          galleryService.show(this.$route.params.id).then(response => {
            this.gallery = response.data;
          });
        });
      }
    },
    deleteGallery() {
      if (confirm("Do you really want to delete gallery?")) {
        galleryService.delete(this.gallery.id).then(() => {
          this.$router.push({ name: "my-galleries" });
        });
      }
    }
  },
  computed: {
    ...mapGetters({
      getAuth: "getIsAuthenticated"
      //loggedUserId: "getLoggedUserId"
    }),
    isAuth() {
      return this.getAuth;
    }
  },
  created() {
    //console.log(to.params.id);
    galleryService.show(this.$route.params.id).then(response => {
      this.gallery = response.data;
    });
  }
};
</script>