<template>
<div class="input-group pb-2 mt-4 mb-2">
    <input v-model="searchTerm" type="search" class="form-control mr-2"/>
    <div class="input-group-prepend">
        <div class=""><button @click.prevent="searchGalleries" class="btn btn-outline-dark">Filter</button></div>
    </div>
</div>
</template>

<script>
export default {
  name: "FilterGalleries",
  props: ["gallery"],
  data() {
    return {
      searchTerm: ""
    };
  },
  methods: {
    emitInputChangeEvent(term) {
      this.$emit("search-term-input", term);
    },
    searchGalleries() {
      //alert(this.searchTerm);
      //this.$emit("search-term-input", this.searchTerm);
      this.$emit("search-galleries", this.searchTerm);
    }
  }
};
</script>