<template>
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h5 class="card-title mb-0 font-weight-bold">{{gallery.title}}</h5></li>
  </ul>
<img v-if="gallery.images.length > 0" class="card-img-top" :src="gallery.images[0].image" alt=""/>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Created: {{gallery.created_at}}</li>
    <li class="list-group-item">Author: <router-link :to="{name: 'author-galleries', params: {id:gallery.user.id}}">{{gallery.user.first_name}} {{gallery.user.last_name}}</router-link></li>
</ul>
<div class="card-body">
<p class="card-text">{{gallery.description}}</p>
<router-link :to="{name: 'show-gallery', params:{id:gallery.id}}">View all images</router-link>
</div>
</div>
</div>
</template>

<script>
export default {
  name: "ListGalleries",
  props: {
    gallery: {
      type: Object,
      required: true
    }
  }
};
</script>