<template>
<div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><router-link :to="{name: 'all-galleries'}" class="nav-link">All galleries <span class="sr-only">(current)</span></router-link></li>
        <li v-if="isAuth" class="nav-item"><router-link :to="{name: 'my-galleries'}" class="nav-link">My Galleries</router-link></li>
        <li v-if="isAuth" class="nav-item"><router-link :to="{name: 'create-gallery'}" class="nav-link">Create New Gallery</router-link></li>
      </ul>
    </div>
    
    <div class="ms-auto order-0">
      <router-link to="/" class="navbar-brand">Galleries App</router-link>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">           
      <ul class="navbar-nav ml-auto">
        <li v-if="isAuth" class="nav-item"><a href="/logout" class="nav-link" @click.prevent="logout">Logout</a></li>
        <li v-if="!isAuth" class="nav-item"><router-link :to="{name: 'login'}" class="nav-link">Login</router-link></li>
        <li v-if="!isAuth" class="nav-item"><router-link :to="{name: 'register'}" class="nav-link">Register</router-link></li>
        <!--<li class="nav-item">
          <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
</div>
</template>

<script>
import { authService } from "./../services/AuthService";
import { mapMutations, mapGetters } from "vuex";

export default {
  name: "NavBar",
  data() {
    return {};
  },
  methods: {
    ...mapMutations(["setIsAuthenticated", "setLoggedUserId"]),
    logout() {
      authService.logout();
      this.setIsAuthenticated(false);
      this.$router.push({ name: "all-galleries" });
    }
  },
  computed: {
    ...mapGetters({
      getAuth: "getIsAuthenticated"
    }),
    isAuth() {
      if (!this.getAuth && window.localStorage.getItem("loginToken")) {
        this.setIsAuthenticated(true);
        return true;
      }
      return this.getAuth;
    }
  },
  created() {
    this.setLoggedUserId(window.localStorage.getItem("loggedUserId"));
  }
};
</script>